body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
background:black;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.banner{
height:400px;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(red,black);
}

.btn{
background:red;
padding:15px 30px;
color:white;
text-decoration:none;
}

.produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card{
background:#1a1a1a;
padding:20px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}